// load bootstrap
@import 'bootstrap';

// load ubuntu font
@import '~@fontsource/ubuntu/index.css'; 
@import '~@fontsource/ubuntu/400.css';

// load quicksand font
@import '~@fontsource/quicksand/index.css'; 
@import '~@fontsource/quicksand/400.css';
@import '~@fontsource/quicksand/500.css';
@import '~@fontsource/quicksand/600.css';
@import '~@fontsource/quicksand/700.css';

$ms-green: #00d9a6;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Ubuntu";
}

.pointer{
  cursor: pointer;
}

.ms-btn{
  display: inline-block !important;
  text-transform: uppercase;
  font-family: "Quicksand";
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 100px;
  position: relative;
  overflow: hidden;

  .btn-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
  }

  .btn-text{
    position: relative;
    z-index: 9;
  }

  &:hover{
    .btn-overlay{
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.ms-btn-light-green{
  background-image: linear-gradient(to right, rgba(7, 217, 0, 0.8) , rgba(0, 219, 168, 0.8));
  box-shadow: 5px 5px 20px  #00d9a656;

  .btn-overlay{
    background-image: linear-gradient(to right, rgb(54, 54, 54) , black);
  }

  &:hover{
    box-shadow: 5px 5px 20px  #00000056;
  }
}

.ms-btn-black{
  background-image: linear-gradient(to right, rgb(54, 54, 54) , black);
  box-shadow: 5px 5px 20px  #00000056;

  .btn-overlay{
    background-image: linear-gradient(to right, rgba(7, 217, 0, 0.8) , rgba(0, 217, 166, 0.8));
  }
  
  &:hover{
    box-shadow: 5px 5px 20px  #00d9a656;
  }
}


.ms-green{
  color: $ms-green;
}

.divider{
  &::before{
    content: '';
    display: inline-block;
    height: 5px;
    width: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-image: linear-gradient(to right, rgba(7, 217, 0, 0.8) , rgba(0, 217, 166, 0.8));
  }
  &::after{
    content: '';
    display: inline-block;
    height: 5px;
    width: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(7, 217, 0, 0.8) , rgba(0, 217, 166, 0.8));
  }
}