header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0 0 20px lightgray;

  .header-top{
    background-color: #3d3d3d;
  
    .container{
      height: 50px;
  
      .left > *,
      .right > *{
        margin: 0 10px;
      }
    }
  }
  
  .header-bottom{
    background-color: #fff;
  
    .container{
      height: 100px;
  
      nav ul{
        list-style: none;
      }
    }
  }
}
